html, body {
    height: 100svh;
    width: 100svw;
    margin: 0;
    overflow: hidden;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.julie-picture {
    width: 100%;
    height: 100%;
    background-image: url('https://jmuzina.io/assets/images/me.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}