# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++ specific
*.cpp~
*.hpp~
*.cc~
*.hh~
*.cxx~
*.hxx~
*.C~
*.H~
*.c++
*.h++
*.inl
*.ii
*.ixx
*.ipp
*.i++

# Build directory
build/
